<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogLevel" value="WARN" />
    <add key="MaxSizeLimitMB" value="0" />
    <add key="LogRotateLimitIndex" value="1" />
    <add key="Encoding" value="utf-8" />
    <add key="LogDirPath" value="D:\temp\C#" />
    <add key="LogFileName" value="debug_" />
    <add key="LogFileNameExtension" value=".log" />
    <add key="LogFileNamePrefixDateTimeString" value="" />
    <add key="LogFileNameSuffixDateTimeString" value="yyyyMMdd" />
  
  </appSettings>
</configuration>