<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogLevel" value="DEBUG" />
    <add key="MaxSizeLimitMB" value="1" />
    <add key="LogRotateLimitIndex" value="0" />
    <add key="Encoding" value="shift_jis" />
    <add key="LogDirPath" value="D:\temp\C#\logs" />
    <add key="LogFileName" value="_debug" />
    <add key="LogFileNameExtension" value=".log" />
    <add key="LogFileNamePrefixDateTimeString" value="yyyyMMdd" />
    <add key="LogFileNameSuffixDateTimeString" value="" />
  </appSettings>
</configuration>