<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogLevel" value="ERROR" />
    <add key="MaxSizeLimitMB" value="0" />
    <add key="LogRotateLimitIndex" value="1" />
    <add key="Encoding" value="shift_jis" />
    <add key="LogDirPath" value="..\..\..\bin\logs" />
    <add key="LogFileName" value="app" />
    <add key="LogFileNameExtension" value=".log" />
    <add key="LogFileNamePrefixDateTimeString" value="yyyyMM/dd_" />
    <add key="LogFileNameSuffixDateTimeString" value="_error" />
  </appSettings>
</configuration>